.card {
    width: 20rem;
    height: auto;
    border-radius: .5rem;
    overflow: hidden;
    margin: 1rem auto;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.first_section {
    width: 100%;
    height: 50%;
}

.second_section {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.second_section h4 {
    color: #efe834;
}

.functions_container {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second_section li {
    list-style-type: none ;
    font-size: .9rem;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title {
    margin: 0 24px 16px 24px;
    font-size: 1.5rem;
    color: #efe834;
}

.description {
    width: 100%;
    margin: 0 24px 20px 24px;
}

.skills_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.skill {
    margin-bottom: 10px;
    width: 2rem;
    height: 2rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    gap: .4rem;
}
  
.btn {
    margin-top: 1rem;
    max-width: max-content;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    padding: .5rem 1rem;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
  
.btn:hover {
    color: black;
    background-color: white;
    transition: 0.35s ease-in-out;
}

@media (min-width: 620px) {
    .card {
        width: 600px;
        height: auto;
        display: flex;
        flex-direction:column ;
        margin: 100px auto 75px;
    }
    .first_section {
        width: 100%;
        height: 100%;
    }
    .image {
       
        object-fit: cover;
        height: 100%;
    }
    .second_section {
        width: 300px;
        height: 100%;
    }
}

@media (min-width: 1200px) {
    .card {
        flex-direction: row;
        width: 100%;
        height: 80vh;
    }
    .first_section{
        width: 40%;
    }
    .second_section {
        width: 50%;
        justify-content: space-around;
    }
}