.contactPage {
    min-height: calc(100vh - 4rem);
    width: 90vw;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contactPageTitle {
    margin: 1rem 0;
    font-size: 3rem;
    padding: 2rem;
}

.contactDesc {
    font-weight: 300;
    font-size: medium;
    padding: 1rem;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    color: rgb(244, 244, 244);
    border: none;
    border-radius: .5rem;
    background: rgb(60, 60, 60);
}

.btn {
    margin-top: 2rem;
    max-width: max-content;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    padding: .5rem 1rem;
    border: 1px solid white;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    color: black;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 0 0 2px #333, 0 0 0 5px #fff;
    background-color: white;
    transition: 0.35s ease-in-out;
}
