.skills {
    margin: 0 auto;
    min-height: calc(60vh - 4rem);
    width: 95vw;
    max-width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
}

.skillTitle {
    margin: 1rem 0;
    font-size: 3rem;
    padding: 2rem;
    border-bottom: 4px solid #efe834;
}

.skillBars {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.image {
    padding: 0;
    width: 9rem;
    height: 9rem;
    background-color: rgba(215, 11, 11, 0);
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.image p {
    position: absolute;
    top: -2.3rem;
    transform: translateY(-1.5rem);
    color: rgb(51, 51, 51);
    font-weight: 700;
    opacity: 0;
    background-color: #d5b723;
    padding: 0.1rem 0.3rem;
    transition: 0.25s ease-in-out;
    border-radius: 4px;
}

.image:hover p {
    transform: translateY(0);
    opacity: 1;
}

.react {
    scale: .8;
    object-fit: cover;
}

.python {
    scale: 0.05;
}

.jest {
    scale: 1.5;
}

.git {
    scale: 1.8;
}

.bigs {
    scale: .8;
}

.trello {
    scale: .25;
}

.skillBars:hover > :not(:hover) {
    scale: .9;
    opacity: .4;
}